# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix Style End Line
[*]
end_of_line = lf
insert_final_newline = true

[*.{.c,.h}]
charset = utf-8

[*.{.c,.h}]
indent_style = space
indent_size = 4
